@media only screen and (max-width: 500px) {
  .masthead {
    padding: 3em 0;
  }
  .masthead-heading {
    font-size: 3em;
  }
  .content-footer {
    padding: 2em 2.5em;
  }
}
nav {
  display: block;
}

section {
  border: 1px solid lightgray;
  margin: 30px 100px 0 100px;
  padding-left: 20px;
  padding-left: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 25px darkgray;
  /* option d'ombre premiere valeur  = projection vers la droit, 2éme value = projection vers le bas, 3émé  : intenstié de la couleur,  4émé = couleur*/
}

body {
  /* font pour le body */
  color: #222222;
  font-size: 1em;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Pour le header */
.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;
}

/* Pour le header */
.masthead {
  padding: 6em 0;
  background-image: url('image/back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-top: solid 1em #d4e7e8;
}

/* Pour le header */
.masthead-intro {
  /* Layout Declarations */
  margin-bottom: 0.1em;
  /* Typography Declarations */
  font-family: 'Gentium Book Basic', Georgia, serif;
  font-size: 2em;
}

/* Pour le header */
.masthead-heading {
  /* Layout Declarations */
  color: #8256a5;
  margin-top: -0.2em;
  /* Typography Declarations */
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/* Pour le header et pour les sections d'acceuil.html */
.introduction-section,
.location-section,
.questions-section,
.ta,
.mb-3 {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.introduction-section > p,
.location-section > p,
.questions-section,
.content-footer > p,
.mp3 > p {
  /* Typography Declarations */
  font-weight: 200;
  letter-spacing: 0.05em;
}

.questions-section > h2 {
  font-family: 'Gentium Book Basic', Georgia, serif;
  font-size: 1.2em;
  font-weight: bold;
  /* Layout */
  margin: 2em 0 1em 0;
}

section > h1 {
  margin-top: 1em;
}

.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;
}

.masthead {
  padding: 6em 0;
  background-image: url('image/back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-top: solid 1em #d4e7e8;
}

.masthead-intro {
  margin-bottom: 0.1em;
  font-family: 'Gentium Book Basic', Georgia, serif;
  font-size: 2em;
}

.masthead-heading {
  margin-top: -0.2em;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.introduction-section,
.location-section,
.questions-section,
.mb-3 {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #f1c863;
}
.comp {
  background-image: url('image/back.jpg');
  background-size: cover;
}
.introduction-competence {
  text-align: center;
  font-size: 20px;
  background-color: rgb(50, 174, 205);
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.introduction-informatique,
.introduction-langue {
  background-color: rgb(238, 220, 220);
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.Exp {
  background-image: url('image/back2.jpg') no-repeat center center;
  background-size: cover;
}

.MyExp {
  background-color: white;
  text-align: center;
  font-size: 25px;
  margin-left: 100px;
  margin-right: 100px;
}

.ExpPro {
  background-color: white;
  text-align: auto;
  font-size: 20px;
  margin-top: 50px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.am {
  background-color: white;
  text-align: auto;
  font-size: 20px;
  margin-top: 50px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.hide {
  color: white;
}
/* Effacer les Floats après les containers d'images */
.imgnext::after {
  content: '';
  clear: both;
  display: table;
}
.img1 {
  margin-right: 20%;
}

#img2 {
  margin-left: 11.2%;
}
#footer {
  background: #272833;
  padding: 2em;
  text-align: center;
}
/* footer {
  position: bottom;
  background-color: black;
  width: 100%;
  color: white;
  bottom: 0;

  
  justify-content: space-between;
  margin: 0px 0px;
  font-weight: 600;
  font-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px;
  font-size: 20px;
} */
